<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.kodacars.qa.uilities.ITestListenerClassFile" />
	</listeners>

	<test name="Test">
		<classes>
		
		<!--	<class name="com.kodacars.qa.testscripts.LoginTest" /> 
		<class name="com.kodacars.qa.testscripts.AddVehicleTest" />
		<class name="com.kodacars.qa.testscripts.AddReservationTest" />
		<class name="com.kodacars.qa.testscripts.AddReservationThirdParyTest" />
		
		-->
		
			
			
			
			<class name="com.kodacars.qa.testscripts.ThirdPartyReservationLinkTest" />
		
				
		</classes>

	</test> <!--
	Test -->
</suite> <!--
Suite -->
